.pio
.vscode/*
!.vscode/tasks.json
src/defines/images.h
src/defines/fonts.h
src/defines/book.h
src/defines/vault.h
src/defines/config.h
src/defines/confidential.h

resources/personal/books/*.pdf
resources/personal/books/*.epub
resources/personal/vault/*.png
resources/personal/videos/*.mp4

**/out/
**/in/
resources/tools/fs/littlefs
resources/tools/fs/in

/sdkconfig.*

dependencies.lock
managed_components
components/arduino

.platformio/*
!.platformio/.gitkeep

.esp-idf/esp-idf
.esp-idf/espressif/*

!.esp-idf/.gitkeep
!.esp-idf/espressif/.gitkeep

trash/
build/

resources/personal/oldConfigs/*

src/idf_component.yml*