.pio
.vscode/*
!.vscode/tasks.json
src/defines/images.h
src/defines/fonts.h
src/defines/book.h
src/defines/vault.h
src/defines/config.h
src/defines/confidential.h

resources/personal/books/*.pdf
resources/personal/books/*.epub
resources/personal/vault/*.png
resources/personal/vault/totp/*.txt
resources/personal/videos/*
resources/personal/videos/*.mp4

**/out/
**/in/
resources/tools/fs/littlefs
resources/tools/fs/in

/sdkconfig.*

dependencies.lock
managed_components
components/arduino

.root/.platformio/*
!.root/.platformio/.gitkeep

.esp-idf/esp-idf
.root/.esp-idf/esp-idf
.root/.esp-idf/espressif/*
!.root/.esp-idf/.gitkeep
!.root/.esp-idf/espressif/.gitkeep

.root/.cargo/*
!.root/.cargo/.gitkeep
.root/.rustup/*
!.root/.rustup/.gitkeep

trash/
build/

resources/personal/oldConfigs/*

src/idf_component.yml*

components/rusty/lib
components/rusty/include
target/