# Arduino
CONFIG_FREERTOS_HZ=1000
CONFIG_AUTOSTART_ARDUINO=y
CONFIG_ARDUINO_RUN_NO_AFFINITY=y
CONFIG_ARDUINO_RUNNING_CORE=-1
CONFIG_ARDUINO_LOOP_STACK_SIZE=16384
CONFIG_ARDUINO_EVENT_RUN_NO_AFFINITY=y
CONFIG_ARDUINO_EVENT_RUNNING_CORE=-1
CONFIG_ARDUINO_SERIAL_EVENT_TASK_PRIORITY=12
CONFIG_ARDUHAL_PARTITION_SCHEME_NO_OTA=y
CONFIG_ARDUHAL_PARTITION_SCHEME="no_ota"
CONFIG_ARDUINO_UDP_RUN_NO_AFFINITY=y
CONFIG_ARDUINO_UDP_RUNNING_CORE=-1
# Arduino logs
CONFIG_ARDUHAL_LOG_DEFAULT_LEVEL_NONE=y
CONFIG_ARDUHAL_LOG_DEFAULT_LEVEL=0

# Arduino selective compilation
CONFIG_ARDUINO_SELECTIVE_COMPILATION=y
CONFIG_ARDUINO_SELECTIVE_SPI=y
CONFIG_ARDUINO_SELECTIVE_Wire=y
# CONFIG_ARDUINO_SELECTIVE_EEPROM is not set
# CONFIG_ARDUINO_SELECTIVE_Preferences is not set
CONFIG_ARDUINO_SELECTIVE_Ticker=y
# CONFIG_ARDUINO_SELECTIVE_Update is not set
CONFIG_ARDUINO_SELECTIVE_FS=y
# CONFIG_ARDUINO_SELECTIVE_SD is not set
# CONFIG_ARDUINO_SELECTIVE_SD_MMC is not set
# CONFIG_ARDUINO_SELECTIVE_SPIFFS is not set
# CONFIG_ARDUINO_SELECTIVE_FFat is not set
CONFIG_ARDUINO_SELECTIVE_LittleFS=y
CONFIG_ARDUINO_SELECTIVE_Network=y
CONFIG_ARDUINO_SELECTIVE_Ethernet=y
# CONFIG_ARDUINO_SELECTIVE_PPP is not set
# CONFIG_ARDUINO_SELECTIVE_ArduinoOTA is not set
CONFIG_ARDUINO_SELECTIVE_AsyncUDP=n
CONFIG_ARDUINO_SELECTIVE_DNSServer=n
CONFIG_ARDUINO_SELECTIVE_ESPmDNS=y
CONFIG_ARDUINO_SELECTIVE_HTTPClient=y
# CONFIG_ARDUINO_SELECTIVE_Matter is not set
# CONFIG_ARDUINO_SELECTIVE_NetBIOS is not set
CONFIG_ARDUINO_SELECTIVE_WebServer=n
CONFIG_ARDUINO_SELECTIVE_WiFi=y
CONFIG_ARDUINO_SELECTIVE_NetworkClientSecure=y
CONFIG_ARDUINO_SELECTIVE_WiFiProv=y
# CONFIG_ARDUINO_SELECTIVE_BLE is not set
# CONFIG_ARDUINO_SELECTIVE_BluetoothSerial is not set
CONFIG_ARDUINO_SELECTIVE_SimpleBLE=y
# CONFIG_ARDUINO_SELECTIVE_RainMaker is not set
# CONFIG_ARDUINO_SELECTIVE_OpenThread is not set
# CONFIG_ARDUINO_SELECTIVE_Insights is not set

# Bootloader
CONFIG_BOOTLOADER_COMPILER_OPTIMIZATION_PERF=y
CONFIG_BOOTLOADER_LOG_LEVEL_NONE=y
CONFIG_BOOTLOADER_LOG_LEVEL=0
# For warning logs in bootloader:
# CONFIG_BOOTLOADER_LOG_LEVEL_WARN=y
# CONFIG_BOOTLOADER_LOG_LEVEL=2
# Experimental, but works!:
CONFIG_BOOTLOADER_SKIP_VALIDATE_IN_DEEP_SLEEP=y
CONFIG_BOOTLOADER_CUSTOM_RESERVE_RTC=y
CONFIG_BOOTLOADER_CUSTOM_RESERVE_RTC_IN_CRC=n
CONFIG_BOOTLOADER_CUSTOM_RESERVE_RTC_SIZE=0x10

# Compiler
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
# CONFIG_COMPILER_OPTIMIZATION_PERF=y
COMPILER_DISABLE_GCC12_WARNINGS=y

# Partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="resources/tools/fs/in/partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="resources/tools/fs/in/partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y

# Esptool
CONFIG_ESPTOOLPY_FLASHFREQ="80m"
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_HEADER_FLASHSIZE_UPDATE=y

# Watchdogs
CONFIG_BOOTLOADER_WDT_TIME_MS=60000
CONFIG_TASK_WDT_TIMEOUT_S=25
CONFIG_ESP_TASK_WDT_PANIC=y
CONFIG_ESP_TASK_WDT_TIMEOUT_S=60
CONFIG_ESP_INT_WDT=y
CONFIG_INT_WDT_TIMEOUT_MS=10000

# Power management
CONFIG_PM_ENABLE=n
# CONFIG_PM_UPDATE_CCOMPARE_HLI_WORKAROUND=y

# CPU
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_80=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=80
CONFIG_ESP_SYSTEM_PM_POWER_DOWN_CPU=n

# Coredump
CONFIG_ESP_COREDUMP_ENABLE_TO_FLASH=y
CONFIG_ESP_COREDUMP_ENABLE=y
CONFIG_ESP_COREDUMP_MAX_TASKS_NUM=64
CONFIG_ESP_COREDUMP_STACK_SIZE=0
CONFIG_ESP_COREDUMP_DATA_FORMAT_ELF=y
CONFIG_ESP_COREDUMP_CHECK_BOOT=n
CONFIG_ESP_INSIGHTS_COREDUMP_ENABLE=y

# FreeRTOS
CONFIG_FREERTOS_TASK_FUNCTION_WRAPPER=y

# Logging
CONFIG_LOG_COLORS=n
#CONFIG_LOG_DEFAULT_LEVEL_ERROR=y
#CONFIG_LOG_DEFAULT_LEVEL=1
#CONFIG_LOG_MAXIMUM_LEVEL=1
# Warnings are sometimes important and don't add much to flash usage
#CONFIG_LOG_DEFAULT_LEVEL_WARN=y
#CONFIG_LOG_DEFAULT_LEVEL=2
#CONFIG_LOG_MAXIMUM_LEVEL=2
# None.
CONFIG_ESP_ERR_TO_NAME_LOOKUP=n
CONFIG_LOG_DEFAULT_LEVEL_NONE=y
CONFIG_LOG_DEFAULT_LEVEL=0
CONFIG_LOG_MAXIMUM_LEVEL=0

# LittleFS
CONFIG_LITTLEFS_MTIME_USE_SECONDS=n
CONFIG_LITTLEFS_USE_MTIME=n
CONFIG_LITTLEFS_OBJ_NAME_LEN=128

# Wifi
CONFIG_MBEDTLS_PSK_MODES=y
CONFIG_MBEDTLS_KEY_EXCHANGE_DHE_PSK=y
CONFIG_MBEDTLS_KEY_EXCHANGE_ECDHE_PSK=y
CONFIG_MBEDTLS_KEY_EXCHANGE_RSA_PSK=y
CONFIG_ESP_PHY_REDUCE_TX_POWER=y
CONFIG_ESP_PHY_RF_CAL_FULL=y
CONFIG_ESP_PHY_CALIBRATION_MODE=2
# Optimisation of memory usage
CONFIG_ESP_TLS_SERVER_SESSION_TICKETS=n
CONFIG_ESP_HTTPS_SERVER_ENABLE=n
CONFIG_ESP_WIFI_MBEDTLS_TLS_CLIENT=n
CONFIG_ESP_WIFI_ENTERPRISE_SUPPORT=n
CONFIG_LWIP_ND6=n
CONFIG_LWIP_IP6_FRAG=n
CONFIG_LWIP_IP6_REASSEMBL=n
CONFIG_LWIP_ESP_MLDV6_REPORT=n
CONFIG_LWIP_IPV6=n
CONFIG_MBEDTLS_TLS_CLIENT_ONLY=y
CONFIG_MBEDTLS_TLS_SERVER=n
CONFIG_MBEDTLS_TLS_SERVER_AND_CLIENT=n
CONFIG_MBEDTLS_SERVER_SSL_SESSION_TICKETS=n
CONFIG_MBEDTLS_ERROR_STRINGS=n
CONFIG_ESP_WIFI_STATIC_RX_MGMT_BUFFER=n
CONFIG_ESP_WIFI_DYNAMIC_RX_MGMT_BUFFER=y
CONFIG_ESP_WIFI_DYNAMIC_RX_MGMT_BUF=1
# WPA3
CONFIG_ESP_WIFI_ENABLE_WPA3_SAE=n
CONFIG_ESP_WIFI_ENABLE_SAE_PK=n
CONFIG_ESP_WIFI_SOFTAP_SAE_SUPPORT=n
# LWIP
CONFIG_LWIP_LOCAL_HOSTNAME="InkWatchy"
# MQTT
CONFIG_MQTT_PROTOCOL_311=n
CONFIG_MQTT_TRANSPORT_SSL=n
CONFIG_MQTT_TRANSPORT_WEBSOCKET=n
CONFIG_MQTT_TRANSPORT_WEBSOCKET_SECURE=n
# Modbus
ONFIG_FMB_COMM_MODE_TCP_EN=n
CONFIG_FMB_COMM_MODE_RTU_EN=n
CONFIG_FMB_COMM_MODE_ASCII_EN=n

# Other tasks
CONFIG_ESP_IPC_TASK_STACK_SIZE=1500
CONFIG_ESP_IPC_USES_CALLERS_PRIORITY=y
CONFIG_ESP_MAIN_TASK_AFFINITY_NO_AFFINITY=y
CONFIG_ESP_MAIN_TASK_AFFINITY=0x7FFFFFFF
# This causes issues on v3
# CONFIG_FREERTOS_IDLE_TASK_STACKSIZE=768
# CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=1536
CONFIG_FREERTOS_CHECK_STACKOVERFLOW_PTRVAL=y

# BT
CONFIG_BT_ENABLED=y
CONFIG_BT_BLUEDROID_ENABLED=y
CONFIG_BT_CONTROLLER_ENABLED=y
CONFIG_BT_BLE_42_FEATURES_SUPPORTED=y
CONFIG_BT_GATTC_ENABLE=n
CONFIG_BT_STACK_NO_LOG=y
CONFIG_BT_ACL_CONNECTIONS=1
CONFIG_BT_BLE_50_FEATURES_SUPPORTED=n
CONFIG_BT_BLE_42_DTM_TEST_EN=n
CONFIG_BT_BLE_42_SCAN_EN=n
CONFIG_BT_LE_LL_RESOLV_LIST_SIZE=1
CONFIG_BT_LE_LL_DUP_SCAN_LIST_COUNT=5
CONFIG_BT_LE_MAX_CONNECTIONS=1
CONFIG_GATTC_ENABLE=n
CONFIG_BLE_SMP_ENABLE=n
# Otherwise, it decreases heap! Still does!
CONFIG_BT_BLE_DYNAMIC_ENV_MEMORY=y
CONFIG_BT_ALLOCATION_FROM_SPIRAM_FIRST=y